<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<meta name="description" content="这是一个奇思妙想平台 ，帮助你分享思维寻找答案。"/>
<title>idea - 与世界分享你的idea见解.人人都有一个梦</title>
<link rel="stylesheet" href="E:\idea\view\css\bootstrap.min.css">
<link rel="stylesheet" href="E:\idea\view\css\bootstrap-theme.css">
<link rel="stylesheet" href="E:\idea\view\css\constume.css">
<!--[if lt IE9]> 
<script> 
   (function() {
     if (! 
     /*@cc_on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
<![endif]-->

<script src="E:\idea\view\js/jquery-1.8.0.js"></script>
<script src="E:\idea\view\js/bootstrap.js"></script>
</head>

<body>
 <div class="navbar navbar-default navbar-fixed-top navbar-brand">
    	<div class="col-md-6">
        	<div class="col-md-2 col-md-offset-2" style="text-align:right; font-weight:bold">Idea</div>
            <div class="col-md-2 " style="text-align:left">
            	<input style="border-radius:5px;" type="search" ></input>
            </div>
            <div class="col-md-2 col-md-offset-3"><input id="findbutton" type="button" value="找一下" style="border-radius:6px" ></div>
        </div>
        <div class="col-md-6">
        	<div class="col-md-2">首页</div>
            <div class="col-md-2">话题</div>
            <div class="col-md-2">发现</div>
        </div>
       

 <!-- <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-sm" href="http://www.bootcss.com">Bootstrap中文网</a>
    </div>
    <div class="navbar-collapse collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Bootstrap2中文文档<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="http://v2.bootcss.com/getting-started.html" target="_blank">起步</a>
            </li>
            <li>
              <a href="http://v2.bootcss.com/scaffolding.html" target="_blank">脚手架</a>
            </li>
            <li>
              <a href="http://v2.bootcss.com/base-css.html" target="_blank">基本CSS样式</a>
            </li>
            <li>
              <a href="http://v2.bootcss.com/components.html" target="_blank">组件</a>
            </li>
            <li>
              <a href="http://v2.bootcss.com/javascript.html" target="_blank">JavaScript插件</a>
            </li>
            <li>
              <a href="http://v2.bootcss.com/customize.html" target="_blank">定制</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Bootstrap3中文文档<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="http://v3.bootcss.com/getting-started/" target="_blank">起步</a>
            </li>
            <li>
              <a href="http://v3.bootcss.com/css/" target="_blank">CSS</a>
            </li>
            <li>
              <a href="http://v3.bootcss.com/components/" target="_blank">组件</a>
            </li>
            <li>
              <a href="http://v3.bootcss.com/javascript/" target="_blank">JavaScript插件</a>
            </li>
            <li>
              <a href="http://v3.bootcss.com/customize/" target="_blank">定制</a>
            </li>
          </ul>
        </li>
        <li><a href="/p/lesscss/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'less'])">Less 教程</a></li>
        <li><a href="http://jquery.bootcss.com/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'jquery'])">jQuery API</a></li>
        <li><a href="http://expo.bootcss.com" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'expo'])">网站实例</a></li>
        <li><a href="http://job.bootcss.com" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'job'])">高薪工作</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-sm">
        <li><a href="/about/" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'about'])">关于</a></li>
      </ul>
    </div>
  </div> -->
   </div>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>asdfsadf<br/>asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>
asdfsadf<br/>asdfsadf<br/>

</body>
</html>
